body {
    background-color: #0d0f27;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.pagamento-wrapper {
    max-width: 500px;
    margin: 3% auto;
    padding: 2%;
    background-color: #1c1f3b;
    border-radius: 2%;
}

h2 {
    text-align: center;
    color: #ffd700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    font-size: 0.95rem;
    background-color: #25294a;
    color: white;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #090266;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background: #0f0599;
}

#pix-container {
    display: none;
    margin-top: 20px;
    text-align: center;
    background: #25294a;
    padding: 15px;
    border-radius: 8px;
}

#pix-container img {
    width: 180px;
    margin: 10px 0;
}

#pix-container textarea {
    height: 80px;
    font-size: 0.9rem;
}